/* 
.BuilderDiv{
    width: 100%;
    height: 100%;
    display: flex;
}
.FlowScreen{
    max-width: 75%;
    height: 100%;
}
.LeftBar{
    height: 100%;
    width: 35%;
    background:rgb(0, 0, 0);
}

.wlcmScreen{
    width: 100vw;
    height: 100vh;
    background:var(--colorOne);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
    
}
.innerWlcm{
    backdrop-filter: blur(5px);
    
    border-radius: 20px;
    height: 50%;
    width: 30%;
    background:white;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
.div1{
    padding: 10px;
}
.div1 input{
    width: 80%;
    border: none;
    height: 20px;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}
.div1 button{
    margin-top: 10px;
    background: rgb(59, 231, 231);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.questions label{
    color: white;
    font-size: large;
    font-style:inherit;
    margin-bottom: 5px;
}
.questions{
    margin: 5px;
    min-height: 15%;
    max-height: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background:var(--colorOne);
}

.response{
    display: flex;
    flex-direction: column;
    margin:5px;
    background:var(--colorOne);
}
.default{
    display: grid;
    grid-template-columns: auto auto;
}
.default button{
    margin: 5px;
    padding: 3px;
    cursor: pointer;
}
.default button:hover{
    background:green;
}
.customResponse{
    display:flex ;
    padding: 5px;
    
}
.customResponse input{
    padding: 5px;
    font-size: 15px;
    width: 70%;
    margin-right: 10px;
}
.customResponse button{
    width: 20%;
    background-color: aqua;
    border: none;
    font-family:bolder;
    font-size: large;
    border-radius: 5px ;
}
.customResponse button:hover{
    cursor: pointer;

}

.nodeLabel{
    display: flex;
    flex-direction: column;
    height: 5%;
    justify-content: center;
    margin: 5px;
    padding:5px;
    background:var(--colorOne);
}
.nodeLabel input{
    padding: 5px;
    font-size: 20px;
}

.questions input{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}
.top{
    height: 15%;
    display: flex;
    align-items: center;
    padding: 5px;
}
.inputType{
    margin: 5px;
    padding: 5px;
    background:var(--colorOne);
}
.inputType input:hover{
    cursor: pointer;
}
h2{
    color: white;
    margin: 5px;
} */

.BuilderDiv {
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(104, 104, 104);
}

.FlowScreen {
    min-width: 75%;
    height: 100%;
}

.LeftBar {
    height: 100%;
    width: 35%;
    background: white;
}

.wlcmScreen {
    width: 97%;
    display: flex;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
}

.innerWlcm {
    backdrop-filter: blur(5px);

    border-radius: 20px;
    height: 50%;
    width: 30%;
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;

}

.div1 {
    padding: 10px;
}

.div1 input {
    width: 80%;
    border: none;
    height: 20px;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}

.div1 button {
    margin-top: 10px;
    background: rgb(59, 231, 231);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.questions label {
    font-style: inherit;
    margin-bottom: 5px;
}

.questions {
    margin: 5px;
    min-height: 15%;
    max-height: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background: var(--colorOne);
}

.response {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background: var(--colorOne);
    border: 1px solid rgb(178, 183, 183);
    padding: 10px;
}

.default {
    display: grid;
    grid-template-columns: auto auto;
}

.default button {
    margin: 5px;
    padding: 3px;
    cursor: pointer;
}

.default button:hover {
    background-image: linear-gradient(195deg, #1ce4b8 0%,  darkcyan 100%);
    color: white;
}

.customResponse {
    display: flex;
    padding: 5px;

}

.customResponse button {
    width: 20%;
    background-image: linear-gradient(195deg, #1ce4b8 0%,  darkcyan 100%);
    color: white;
    border: none;
    font-family: bolder;
    font-size: large;
    border-radius: 5px;
}

.customResponse button:hover {
    cursor: pointer;

}

.nodeLabel {
    display: flex;
    flex-direction: column;
    height: 5%;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    background: var(--colorOne);
}

.top {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.inputType {
    margin: 5px;
    padding: 5px;
    background: var(--colorOne);
}

.inputType input:hover {
    cursor: pointer;
}

h3 {
    margin: 10px;
}
.LeftbarHeader{
    display: flex;
    height:10%;
    /* background-color: darkcyan; */
    background-image: linear-gradient(195deg, #1ce4b8 0%,  darkcyan 100%);
    width:98%;
    align-items: center;
    padding-left: 10px;
}
.RemoveButton{
    float:right;
    padding:9px;
    background-image: linear-gradient(195deg, #1ce4b8 0%,  darkcyan 100%);
    border: none;
}
.addSubButtons{
    background-image: linear-gradient(195deg, #1ce4b8 0%,  darkcyan 100%);
    color: white;
    font-weight: bold;
    margin-right:10px;
    margin-top:10px;
    border:none;
    padding: 5px;
}